In [106]:
import pandas as pd
import numpy as np 

# here 1 is stressed - 0 is not stressed

train_interview = pd.read_csv('train_interview.csv')
test_interview = pd.read_csv('test_interview.csv')
(train_interview.shape, test_interview.shape)

((1952, 3), (320, 3))

In [107]:

train_interview.head()

         id                                               text   label
0  sp_19-03  Which people might believe Hong Kong is pretty...       1
1  sp_19-03  And it's very crowded even as compared to Hong...       1
2  sp_19-03  And the main thing about Delhi is that it's pr...       1
3  sp_19-02  But it was way different than the places I've ...       1
4  sp_18-12  So I guess the pressure comes from that just w...       1

In [108]:

test_interview.head()

         id                                               text   label
0  sp_25-12  My friends back home would be the same fewer a...       1
1  sp_25-12  So I kind of got used to not being home talkin...       1
2  sp_25-11  But I still have to pass and do good job proba...       1
3  sp_25-11              So I don't feel pressure here so much       1
4  sp_25-11  And I got a good grade and would compensate wi...       1

In [109]:
twitter_relax_text = np.load('twitter_relax_text.npy')
twitter_stress_text = np.load('twitter_stress_text.npy')

In [110]:
twitter_relax_text[:10]

array(['18 years enjoying a life full of love',
       "brandon is my biggest supporter i could n't thank him enough for all he does for me",
       "changes , right now i'm going through changes",
       'trader joes cashier gave me secret stickers because he liked my hair and then i found a dollar in the parking lot',
       'concrete has been poured ! up next is the installation of the cinderblocks ! great things are happening for cro baseball !',
       "sd to lax what 's a long productive day finally heading home !",
       "i 've been asking myself the last few months , instead of hearing what god has to say",
       'went to order a 10 thing on amazon only to find out i had 10 left of an old gift card applied to my account so that shit was free',
       "joshua made me a scrap book of the last 6 months of our relationship and i have n't stopped crying",
       'we are officially roomies tomorrow and i cannot wait'],
      dtype='<U187')

In [111]:
twitter_relax_text.shape[0]

307544

In [112]:
list_relax = [0 for _ in range(twitter_relax_text.shape[0])]
list_stress = [1 for _ in range(twitter_stress_text.shape[0])]
list_no_author_relax = ["NO_AUTHOR" for _ in range(twitter_relax_text.shape[0])]
list_no_author_stress = ["NO_AUTHOR" for _ in range(twitter_stress_text.shape[0])]

In [113]:
df_relax = pd.DataFrame(twitter_relax_text, columns = ['text'])
df_stress = pd.DataFrame(twitter_stress_text, columns = ['text'])

In [114]:
df_relax.insert(loc=0, column='id', value=list_no_author_relax)
df_relax.insert(loc=2, column='label', value=list_relax)
df_relax.head()

          id                                               text  label
0  NO_AUTHOR              18 years enjoying a life full of love      0
1  NO_AUTHOR  brandon is my biggest supporter i could n't th...      0
2  NO_AUTHOR      changes , right now i'm going through changes      0
3  NO_AUTHOR  trader joes cashier gave me secret stickers be...      0
4  NO_AUTHOR  concrete has been poured ! up next is the inst...      0

In [115]:
df_stress.insert(loc=0, column='id', value=list_no_author_stress)
df_stress.insert(loc=2, column='label', value=list_stress)
df_stress.head()

          id                                               text  label
0  NO_AUTHOR  taking a financial stress test can be worse th...      1
1  NO_AUTHOR  do i work 10 hours today , or 5 today 5 tomorr...      1
2  NO_AUTHOR  just wrote my first query letter draft quite d...      1
3  NO_AUTHOR  getting to the snacks in the library 3 minutes...      1
4  NO_AUTHOR  20 , 000 words to write by june 10 in between ...      1

In [116]:
train_interview.rename(columns={' text': 'text', ' label': 'label'}, inplace=True, errors='raise')
        
test_interview.rename(columns={' text': 'text', ' label': 'label'}, inplace=True, errors='raise')

In [128]:
all_merged = pd.concat([df_stress, df_relax, train_interview, test_interview], axis=0, ignore_index=True)
all_merged_no_ids =  all_merged.drop(["id"], axis=1)

In [130]:
all_merged.to_pickle("all_merged.pkl")
all_merged_no_ids.to_pickle("all_merged_no_ids.pkl")

In [131]:
all_merged_loaded = pd.read_pickle("all_merged.pkl")
all_merged_no_ids_loaded = pd.read_pickle("all_merged_no_ids.pkl")

In [134]:
all_merged_loaded.head()

          id                                               text  label
0  NO_AUTHOR  taking a financial stress test can be worse th...      1
1  NO_AUTHOR  do i work 10 hours today , or 5 today 5 tomorr...      1
2  NO_AUTHOR  just wrote my first query letter draft quite d...      1
3  NO_AUTHOR  getting to the snacks in the library 3 minutes...      1
4  NO_AUTHOR  20 , 000 words to write by june 10 in between ...      1

In [146]:
all_merged_loaded[all_merged_loaded["label"] == 0]

               id                                               text  label
59768   NO_AUTHOR              18 years enjoying a life full of love      0
59769   NO_AUTHOR  brandon is my biggest supporter i could n't th...      0
59770   NO_AUTHOR      changes , right now i'm going through changes      0
59771   NO_AUTHOR  trader joes cashier gave me secret stickers be...      0
59772   NO_AUTHOR  concrete has been poured ! up next is the inst...      0
...           ...                                                ...    ...
369579   sp_24-01  But it's it's not in a way that I'm like reall...      0
369580   sp_24-01            And I think it's it's quite interesting      0
369581   sp_24-01  But I discovered this TV show and I've been li...      0
369582   sp_24-01  I didn't have time to really watch any movies ...      0
369583   sp_23-12  That's the good part of living abroad there is...      0

[309002 rows x 3 columns]